name: PR Preview
on:
  pull_request_target:
    types: [opened, synchronize, reopened, edited]

jobs:
  preview:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Check out PR head
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      - name: Post Playground Preview Button
        uses: WordPress/action-wp-playground-pr-preview@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          mode: 'append-to-description'
          plugin-path: .
          blueprint-url: https://raw.githubusercontent.com/fellyph/scrolldriven-block/refs/heads/main/blueprint.json
